body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    /* background-color: black; */
    /* background-image:url(imagens/fundo.png) ; */
    background-repeat: repeat-y;
    margin: 25px;
    /* background-color: #f5e0b3; */
}

h1 {
    font-size: 30px;
    border-bottom: 3px solid #000000;
    width:fit-content;
    background-color: #bfd9a2;
    padding: 10px 25% 10px 1% ;
    /* font-weight: 100; */
}

h2 {
    font-size: 24px;
    color: #425a45;
    padding-top: 50px;
    border-bottom: 3px solid #425a45;
    width:75%;
    /* width:fit-content; */
}

a {
    color: black;

}

p {
    line-height: 25px;
}

img {
    border: 5px solid #425a45;
    padding: 10px;
}

td, th {
    padding: 3px ;
}

table, td, th {
    font-family: 'Century Gothic';
    font-size: 18px;
    border:1px solid black;
    border-radius: 5px;
    /* border-collapse: collapse; */
}

td:hover {
    background: #e6f9d0;
}

th:hover {
    background:#bfd9a2;
}

th {
    text-align:  right;
    background-color:#f0fff0;
}

table caption {
    font-size: 22px;
    font-weight: bolder;
    padding: 10px ;
    background-color: #b4da89;
    border-radius: 10px;
    margin-bottom: 1px;
}

table tr.linhasAlternadas{
    background-color: #d3e6bc;
}

table tr.linhasPrimarias{
    background: #FFFFF0;
}

.destaqueEsqueda {
    float: left; 
    margin: 0px 15px 5px -10px;
}

.destaqueDireita{
    float: right;
    margin: 0px 0px 5px 15px;
}

footer {
    background-color: #bfd9a2;
    padding: 20px 0;
    text-align: center;
    margin: 25px -100% -100% -100%;
}

.footer-content {
    /* max-width: 600px; */
    margin: 0 auto;
    font-size: 14px;
}

.footer-content strong {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.footer-content a {
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}


.btn-voltar-topo {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    display: inline-block;
    background-color: #8bdb85;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.btn-voltar-topo:hover {
    background-color: #63be6a;
}

.btn-voltar-topo.transparente {
    opacity: 0; 
}

/* Formulario */

.form {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="password"],
.form-group select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #0056b3;
}

.form button[type="submit"] {
    width: 100%;
}


fieldset li{
    list-style-type: none;
}

ul li{
    list-style-type: none;
}

