<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title> Análise e Desenvolvimento de Sistemas</title>
</head>

<body>
    <h1>FATEC Baixada Santista Rubens Lara </h1>
    <h2> Análise e Desenvolvimento de Sistemas</h2>
    <p> O curso de Análise e Desenvolvimento de Sistemas capacita profissionais para analisar, projetar, implementar e
        gerenciar sistemas de informação. Os estudantes adquirem conhecimentos em programação, banco de dados,
        engenharia de software e outras áreas essenciais para o desenvolvimento de sistemas modernos.</p>
    <p><a href="Index.html">Voltar</a></p>

</body>

</html>