<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Gestão de Recursos Humanos</title>
</head>

<body>
    <h1>FATEC Baixada Santista Rubens Lara </h1>
    <h2> Gestão de Recursos Humanos</h2>
    <p>O curso de Gestão de Recursos Humanos forma profissionais para atuarem na gestão de pessoas dentro das
        organizações. Os alunos estudam temas como recrutamento, seleção, treinamento, desenvolvimento organizacional e
        relações de trabalho, preparando-se para lidar com os desafios do ambiente corporativo.</p>
    <p><a href="Index.html">Voltar</a></p>

</body>



</html>