<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title> Gestão Empresarial</title>
</head>

<body>
    <h1>FATEC Baixada Santista Rubens Lara </h1>
    <h2>Gestão Empresarial</h2>
    <p>O curso de Gestão Empresarial forma profissionais aptos a gerenciar organizações de forma eficaz e estratégica.
        Os alunos estudam disciplinas como administração, finanças, marketing e gestão de pessoas, desenvolvendo
        habilidades para enfrentar os desafios do mundo corporativo.</p>
    <p><a href="Index.html">Voltar</a></p>

</body>



</html>