<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Logística</title>
</head>

<body>
    <h1>FATEC Baixada Santista Rubens Lara </h1>
    <h2>Logística</h2>
    <p>O curso de Logística capacita os alunos para planejar, implementar e controlar o fluxo de materiais, informações
        e recursos dentro das cadeias de suprimentos. Os estudantes aprendem sobre transporte, estoque, armazenagem,
        distribuição e outras atividades logísticas essenciais para o funcionamento eficiente das empresas.</p>
    <p><a href="Index.html">Voltar</a></p>

</body>



</html>